<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQf-28WzCpK5bgGX1zglm0RMxTdCE95z0</string>
	<key>GCM_SENDER_ID</key>
	<string>484497174017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.excavacionesmansal</string>
	<key>PROJECT_ID</key>
	<string>excavacionesmansal-a8ca0</string>
	<key>STORAGE_BUCKET</key>
	<string>excavacionesmansal-a8ca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484497174017:ios:c49f63bea5f01cf79eda00</string>
</dict>
</plist>